
$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;
$size-font-art: 1rem; 
$footer-size: 24px;

@mixin articles ($color-art, $border-color,$font-art) {
    border: 1px solid $border-color;
    color: $color-art;
    font-size: $font-art;    
}
.exercise {
     border: 1px solid $color-primary; 
     .exercise-title {
          color: $color-tertiary;
          text-align: center;
          text-decoration: underline;
          text-decoration-color: $color-secondary;
         } 
    .first-section{
        display: flex;
        margin: 1rem;
        article{
            p{
                padding: 1rem;
            }
        }
        
        article:nth-of-type(odd){
            @include articles($color-secondary, $color-tertiary, $size-font-art);
        }

        article:nth-of-type(even){
            @include articles($color-primary, $color-tertiary, $size-font-art);
        }
    }

    .second-section{
        padding: 1rem;
        article{
            @include articles($color-tertiary, $color-secondary,$footer-size);
            text-align: center;
        }
    }
}
