body .exercise h2, body .exercise .exercise-title {
  color: green;
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
}
body .exercise {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
body .exercise .exercise-title {
  text-decoration: underline;
  text-decoration-color: blue;
}
body .exercise h2 {
  border: 1px solid red;
  margin: auto;
  width: max-content;
  padding: 1rem;
}
body .exercise .first-section {
  display: flex;
  margin: 1rem;
}
body .exercise .first-section article p {
  padding: 0.5rem;
}
body .exercise .first-section article:nth-of-type(odd) {
  border: 1px solid green;
  color: blue;
  font-size: 1rem;
}
body .exercise .first-section article:nth-of-type(even) {
  border: 1px solid green;
  color: red;
  font-size: 1rem;
}
body .exercise .second-section {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  flex-wrap: wrap;
}
body .exercise .second-section div {
  height: 2.8125rem;
  width: 2.8125rem;
  min-width: 2.8125rem;
  border: 0.0625rem solid red;
}
body .exercise .second-section div:nth-of-type(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
body .exercise .second-section div:nth-of-type(2) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
body .exercise .second-section div:nth-of-type(3) {
  background-color: #d9d9d9;
  color: #262626;
}
body .exercise .second-section div:nth-of-type(4) {
  background-color: #cccccc;
  color: #333333;
}
body .exercise .second-section div:nth-of-type(5) {
  background-color: #bfbfbf;
  color: #404040;
}
body .exercise .second-section div:nth-of-type(6) {
  background-color: #b3b3b3;
  color: #4d4d4d;
}
body .exercise .second-section div:nth-of-type(7) {
  background-color: #a6a6a6;
  color: #595959;
}
body .exercise .second-section div:nth-of-type(8) {
  background-color: #999999;
  color: #666666;
}
body .exercise .second-section div:nth-of-type(9) {
  background-color: #8c8c8c;
  color: #737373;
}
body .exercise .second-section div:nth-of-type(10) {
  background-color: blue;
  color: red;
  font-weight: bold;
}
body .exercise .second-section div:nth-of-type(11) {
  background-color: #737373;
  color: #8c8c8c;
}
body .exercise .second-section div:nth-of-type(12) {
  background-color: #666666;
  color: #999999;
}
body .exercise .second-section div:nth-of-type(13) {
  background-color: #595959;
  color: #a6a6a6;
}
body .exercise .second-section div:nth-of-type(14) {
  background-color: #4d4d4d;
  color: #b3b3b3;
}
body .exercise .second-section div:nth-of-type(15) {
  background-color: #404040;
  color: #bfbfbf;
}
body .exercise .second-section div:nth-of-type(16) {
  background-color: #333333;
  color: #cccccc;
}
body .exercise .second-section div:nth-of-type(17) {
  background-color: #262626;
  color: #d9d9d9;
}
body .exercise .second-section div:nth-of-type(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
body .exercise .second-section div:nth-of-type(19) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
body .exercise .second-section .fs-1rem {
  font-size: 1rem;
}
body .exercise .second-section .fs-2rem {
  font-size: 2rem;
}
body .exercise .second-section .fs-3rem {
  font-size: 3rem;
}
body .exercise .third-section {
  padding: 1rem;
}
body .exercise .third-section article {
  border: 1px solid blue;
  color: green;
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
